### crea un dataframe con los resultados de la EDA para cada uno de los anios

In [3]:
import pandas as pd

In [4]:
years = range(2013,2022)

df_columns_names = pd.DataFrame()

for y in years:
    df_datos = pd.read_csv(f"datos\datos-{y}.csv", sep= ";", encoding='latin-1')
    df_columns_names[y] = df_datos.columns

df_columns_names

,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR,CÓDIGO ÓRGÃO SUPERIOR
1,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR,NOME ÓRGÃO SUPERIOR
2,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO,CÓDIGO ÓRGÃO
3,NOME ÓRGÃO,NOME ÓRGÃO,NOME ÓRGÃO,NOME ÓRGÃO,NOME ÓRGÃO,NOME ÓRGÃO,NOME ÓRGÃO,NOME ÓRGÃO,NOME ÓRGÃO
4,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA,CÓDIGO UNIDADE GESTORA
5,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA,NOME UNIDADE GESTORA
6,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA,CATEGORIA ECONÔMICA
7,ORIGEM RECEITA,ORIGEM RECEITA,ORIGEM RECEITA,ORIGEM RECEITA,ORIGEM RECEITA,ORIGEM RECEITA,ORIGEM RECEITA,ORIGEM RECEITA,ORIGEM RECEITA
8,ESPÉCIE RECEITA,ESPÉCIE RECEITA,ESPÉCIE RECEITA,ESPÉCIE RECEITA,ESPÉCIE RECEITA,ESPÉCIE RECEITA,ESPÉCIE RECEITA,ESPÉCIE RECEITA,ESPÉCIE RECEITA
9,DETALHAMENTO,DETALHAMENTO,DETALHAMENTO,DETALHAMENTO,DETALHAMENTO,DETALHAMENTO,DETALHAMENTO,DETALHAMENTO,DETALHAMENTO
10,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO,VALOR PREVISTO ATUALIZADO
11,VALOR LANÇADO,VALOR LANÇADO,VALOR LANÇADO,VALOR LANÇADO,VALOR LANÇADO,VALOR LANÇADO,VALOR LANÇADO,VALOR LANÇADO,VALOR LANÇADO
12,VALOR REALIZADO,VALOR REALIZADO,VALOR REALIZADO,VALOR REALIZADO,VALOR REALIZADO,VALOR REALIZADO,VALOR REALIZADO,VALOR REALIZADO,VALOR REALIZADO
13,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO,PERCENTUAL REALIZADO
14,DATA LANÇAMENTO,DATA LANÇAMENTO,DATA LANÇAMENTO,DATA LANÇAMENTO,DATA LANÇAMENTO,DATA LANÇAMENTO,DATA LANÇAMENTO,DATA LANÇAMENTO,DATA LANÇAMENTO
15,ANO EXERCÍCIO,ANO EXERCÍCIO,ANO EXERCÍCIO,ANO EXERCÍCIO,ANO EXERCÍCIO,ANO EXERCÍCIO,ANO EXERCÍCIO,ANO EXERCÍCIO,ANO EXERCÍCIO

#### Con el loop anterior, podemos ver que todas las columnas son del mismo tipo

## Ahora vamos a explorar si hay datos nulos

In [5]:
years = range(2013,2022)

df_info_isna = pd.DataFrame()

for y in years:
    df_datos = pd.read_csv(f"datos\datos-{y}.csv", sep= ";", encoding='latin-1')
    df_info_isna[y] = df_datos.isna().sum()

df_info_isna

,2013,2014,2015,2016,2017,2018,2019,2020,2021
CÓDIGO ÓRGÃO SUPERIOR,0,0,0,0,0,0,0,0,0
NOME ÓRGÃO SUPERIOR,0,0,0,0,0,0,0,0,0
CÓDIGO ÓRGÃO,0,0,0,0,0,0,0,0,0
NOME ÓRGÃO,0,0,0,0,0,0,0,0,0
CÓDIGO UNIDADE GESTORA,0,0,0,0,0,0,0,0,0
NOME UNIDADE GESTORA,0,0,0,0,0,0,0,0,0
CATEGORIA ECONÔMICA,0,0,0,0,0,0,0,0,0
ORIGEM RECEITA,0,0,0,0,0,0,0,0,0
ESPÉCIE RECEITA,0,0,0,0,0,0,0,0,0
DETALHAMENTO,0,0,0,0,0,0,0,0,0
VALOR PREVISTO ATUALIZADO,0,0,0,0,0,0,0,0,0
VALOR LANÇADO,0,0,0,0,0,0,0,0,0
VALOR REALIZADO,0,0,0,0,0,0,0,0,0
PERCENTUAL REALIZADO,0,0,0,0,0,0,0,0,0
DATA LANÇAMENTO,0,0,0,82,86,115,86,86,123
ANO EXERCÍCIO,0,0,0,0,0,0,0,0,0

#### Con lo anterior, sabemos que la columnas de DATA LANCAMENTO tiene nulos a partir de 2016

In [6]:
import pandas as pd

years = range(2013, 2022)
df_info_type = pd.DataFrame()

info_dict = {}  ## no logro meter el resultado de datainfo en un dataframe, pero si puedo hacerlo en un diccionario

for y in years:
    df_datos = pd.read_csv(f"datos/datos-{y}.csv", sep=";", encoding='latin-1')
    info_dict[y] = {
        'column_names': df_datos.columns.tolist(),
        'data_types': df_datos.dtypes.tolist()}

# Despues puedo convertir el diccionario en un dataframeexplorar el diccionario columna a columna y ver si el tipo de datos para cada anio es el mismo
for year, sub_dict in info_dict.items():
    for key, value in sub_dict.items():
        print(value[15])

ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64
ANO EXERCÍCIO
int64

#### Despues de revisar los tipos de datos anteriores, todo parece correcto y todas las columnas tienen el mismo tipo de dato.

### Visto todo lo anterior, me dispongo a unir el dataframe

In [7]:
#https://stackoverflow.com/questions/11479392/what-does-a-for-loop-within-a-list-do-in-python  buscando como hacer el loop mas eficiente

year = range(2013, 2022)

lista_df = [pd.read_csv(f"datos/datos-{y}.csv", sep=";", encoding='latin-1') for y in year]

df_all = pd.concat(lista_df, axis=0)  ## concat admite una lista de dataframes

df_all.columns

Index(['CÓDIGO ÓRGÃO SUPERIOR', 'NOME ÓRGÃO SUPERIOR', 'CÓDIGO ÓRGÃO',
       'NOME ÓRGÃO', 'CÓDIGO UNIDADE GESTORA', 'NOME UNIDADE GESTORA',
       'CATEGORIA ECONÔMICA', 'ORIGEM RECEITA', 'ESPÉCIE RECEITA',
       'DETALHAMENTO', 'VALOR PREVISTO ATUALIZADO', 'VALOR LANÇADO',
       'VALOR REALIZADO', 'PERCENTUAL REALIZADO', 'DATA LANÇAMENTO',
       'ANO EXERCÍCIO'],
      dtype='object')

In [8]:
## https://www.statology.org/pandas-rename-columns-with-dictionary/

## Renombrar columnas del dataframe df_all

column_translation_dict = {
 'CÓDIGO ÓRGÃO SUPERIOR': 'codigo_organo_superior',
 'NOME ÓRGÃO SUPERIOR': 'nombre_organo_superior',
 'CÓDIGO ÓRGÃO': 'codigo_organo',
 'NOME ÓRGÃO': 'nombre_organo',
 'CÓDIGO UNIDADE GESTORA': 'codigo_unidad_gestora',
 'NOME UNIDADE GESTORA': 'nombre_unidad_gestora',
 'CATEGORIA ECONÔMICA': 'categoria_economica',
 'ORIGEM RECEITA': 'origen_receta',
 'ESPÉCIE RECEITA': 'especie_receta',
 'DETALHAMENTO': 'detallamiento',
 'VALOR PREVISTO ATUALIZADO': 'valor_previsto_actualizado',
 'VALOR LANÇADO': 'valor_lanzado',
 'VALOR REALIZADO': 'valor_realizado',
 'PERCENTUAL REALIZADO': 'percentual_realizado',
 'DATA LANÇAMENTO': 'fecha_lanzamiento',
 'ANO EXERCÍCIO': 'ano_ejercicio'
}



#define dictionary
#rename columns in DataFrame using dictionary

df_all.rename(columns=column_translation_dict, inplace=True)

df_all.columns

df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026299 entries, 0 to 134592
Data columns (total 16 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   codigo_organo_superior      1026299 non-null  int64
 1   nombre_organo_superior      1026299 non-null  object
 2   codigo_organo               1026299 non-null  int64
 3   nombre_organo               1026299 non-null  object
 4   codigo_unidad_gestora       1026299 non-null  int64
 5   nombre_unidad_gestora       1026299 non-null  object
 6   categoria_economica         1026299 non-null  object
 7   origen_receta               1026299 non-null  object
 8   especie_receta              1026299 non-null  object
 9   detallamiento               1026299 non-null  object
 10  valor_previsto_actualizado  1026299 non-null  object
 11  valor_lanzado               1026299 non-null  object
 12  valor_realizado             1026299 non-null  object
 13  percentual_realizado        1026299 non-null  object
 14  fecha_lanzamiento           1025721 non-null  object
 15  ano_ejercicio               1026299 non-null  int64
dtypes: int64(4), object(12)
memory usage: 133.1+ MB

## Revisar las columnas, tipos de datos

In [9]:
#df_all.isna().sum()

df_all.info()

#null_mask = df_all.isnull().any(axis=1)
#null_rows = df_all[null_mask]

#print(null_rows)
## https://stackoverflow.com/questions/8420143/valueerror-could-not-convert-string-to-float-id

df_all["valor_previsto_actualizado"] = [float(str(i).replace(",", ".")) for i in df_all["valor_previsto_actualizado"]]
df_all['valor_previsto_actualizado'] = df_all['valor_previsto_actualizado'].astype('float')


df_all["valor_realizado"] = [float(str(i).replace(",", ".")) for i in df_all["valor_realizado"]]
df_all['valor_realizado'] = df_all['valor_realizado'].astype('float')

df_all["valor_lanzado"] = [float(str(i).replace(",", ".")) for i in df_all["valor_lanzado"]]
df_all['valor_lanzado'] = df_all['valor_lanzado'].astype('float')


df_all["percentual_realizado"] = [float(str(i).replace(",", ".")) for i in df_all["percentual_realizado"]]
df_all['percentual_realizado'] = df_all['percentual_realizado'].astype('float')

df_all['ano_ejercicio'] = df_all['ano_ejercicio'].astype('int')

df_all['fecha_lanzamiento'] = pd.to_datetime(df_all['fecha_lanzamiento'], format="%d/%m/%Y")

#df_porcentaje_uniques = df_all['PORCENTAJE REALIZADO'].unique()
#df_porcentaje_uniques

df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026299 entries, 0 to 134592
Data columns (total 16 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   codigo_organo_superior      1026299 non-null  int64
 1   nombre_organo_superior      1026299 non-null  object
 2   codigo_organo               1026299 non-null  int64
 3   nombre_organo               1026299 non-null  object
 4   codigo_unidad_gestora       1026299 non-null  int64
 5   nombre_unidad_gestora       1026299 non-null  object
 6   categoria_economica         1026299 non-null  object
 7   origen_receta               1026299 non-null  object
 8   especie_receta              1026299 non-null  object
 9   detallamiento               1026299 non-null  object
 10  valor_previsto_actualizado  1026299 non-null  object
 11  valor_lanzado               1026299 non-null  object
 12  valor_realizado             1026299 non-null  object
 13  percentual_realizado        1026299 non-null  object
 14  fecha_lanzamiento           1025721 non-null  object
 15  ano_ejercicio               1026299 non-null  int64
dtypes: int64(4), object(12)
memory usage: 133.1+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 1026299 entries, 0 to 134592
Data columns (total 16 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   codigo_organo_superior      1026299 non-null  int64
 1   nombre_organo_superior      1026299 non-null  object
 2   codigo_organo               1026299 non-null  int64
 3   nombre_organo               1026299 non-null  object
 4   codigo_unidad_gestora       1026299 non-null  int64
 5   nombre_unidad_gestora       1026299 non-null  object
 6   categoria_economica         1026299 non-null  object
 7   origen_receta               1026299 non-null  object
 8   especie_receta              1026299 non-null  object
 9   detallamiento               1026299 non-null  object
 10  valor_previsto_actualizado  1026299 non-null  float64
 11  valor_lanzado               1026299 non-null  float64
 12  valor_realizado             1026299 non-null  float64
 13  percentual_realizado        1026299 non-null  float64
 14  fecha_lanzamiento           1025721 non-null  datetime64[ns]
 15  ano_ejercicio               1026299 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(1), int64(3), object(7)
memory usage: 129.2+ MB

## Revisar los nulos

In [17]:
df_porcentaje_uniques = df_all['fecha_lanzamiento'].unique()
df_porcentaje_uniques

df_nulos_anio = df_all.fecha_lanzamiento.isnull().groupby([df_all['ano_ejercicio']]).sum().astype(int).reset_index(name='total_nulls')
print(df_nulos_anio)

df_total_anio = df_all.groupby(['ano_ejercicio'])['ano_ejercicio'].count().reset_index(name='total_records')
print(df_total_anio)

df_merge_anios = pd.merge(df_nulos_anio, df_total_anio, on="ano_ejercicio")

df_merge_anios["anio_percentage_null"] = (df_merge_anios["total_nulls"]/df_merge_anios["total_records"])*100

df_merge_anios

   ano_ejercicio  total_nulls
0           2013            0
1           2014            0
2           2015            0
3           2016           82
4           2017           86
5           2018          115
6           2019           86
7           2020           86
8           2021          123
   ano_ejercicio  total_records
0           2013           4498
1           2014           4553
2           2015           4523
3           2016         194533
4           2017         190479
5           2018         173944
6           2019         176828
7           2020         142348
8           2021         134593

   ano_ejercicio  total_nulls  total_records  anio_percentage_null
0           2013            0           4498              0.000000
1           2014            0           4553              0.000000
2           2015            0           4523              0.000000
3           2016           82         194533              0.042152
4           2017           86         190479              0.045149
5           2018          115         173944              0.066113
6           2019           86         176828              0.048635
7           2020           86         142348              0.060415
8           2021          123         134593              0.091387

### Teniendo en cuenta en lo anterior, parece que el numero de nulos es bastante marginal, menos del 0,1% para todos los casos. Por ello decido eliminarlos.

In [19]:
# https://www.w3schools.com/python/pandas/ref_df_dropna.asp#:~:text=The%20dropna()%20method%20removes,in%20the%20original%20DataFrame%20instead.

df_all = df_all.dropna()

df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1025721 entries, 0 to 134592
Data columns (total 16 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   codigo_organo_superior      1025721 non-null  int64
 1   nombre_organo_superior      1025721 non-null  object
 2   codigo_organo               1025721 non-null  int64
 3   nombre_organo               1025721 non-null  object
 4   codigo_unidad_gestora       1025721 non-null  int64
 5   nombre_unidad_gestora       1025721 non-null  object
 6   categoria_economica         1025721 non-null  object
 7   origen_receta               1025721 non-null  object
 8   especie_receta              1025721 non-null  object
 9   detallamiento               1025721 non-null  object
 10  valor_previsto_actualizado  1025721 non-null  float64
 11  valor_lanzado               1025721 non-null  float64
 12  valor_realizado             1025721 non-null  float64
 13  percentual_realizado        1025721 non-null  float64
 14  fecha_lanzamiento           1025721 non-null  datetime64[ns]
 15  ano_ejercicio               1025721 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(1), int64(3), object(7)
memory usage: 129.1+ MB

## Ahora que tengo mis datos mas ordenados, vamos a usar describe()

In [22]:
df_all.describe().T

,count,mean,min,25%,50%,75%,max,std
codigo_organo_superior,1025721.0,32053.627643,20000.0,25000.0,26000.0,39000.0,81000.0,10614.192759
codigo_organo,1025721.0,31438.190265,20101.0,25201.0,26298.0,36000.0,91214.0,10384.494245
codigo_unidad_gestora,1025721.0,231320.807146,110005.0,154003.0,170013.0,250088.0,913001.0,144211.265977
valor_previsto_actualizado,1025721.0,27626980.252787,-214773743.0,0.0,0.0,0.0,1603521711208.0,3394323069.572854
valor_lanzado,1025721.0,2712342.560349,-148347267246.910004,0.0,0.0,0.0,357160677863.969971,698431477.240617
valor_realizado,1025721.0,24994498.928506,-156285934188.029999,262.5,3030.0,40932.5,771117711060.949951,1407288764.633113
percentual_realizado,1025721.0,80.359069,-114552.0,0.0,0.0,0.0,72363772.0,71501.250083
fecha_lanzamiento,1025721,2018-09-20 12:23:18.569787136,2013-12-31 00:00:00,2017-03-31 00:00:00,2018-08-27 00:00:00,2020-02-12 00:00:00,2021-12-03 00:00:00,NaN
ano_ejercicio,1025721.0,2018.225315,2013.0,2017.0,2018.0,2020.0,2021.0,1.737948

## Analizo tambien los valores distintos de los elemenos no numericos

In [36]:
## https://stackoverflow.com/questions/22470690/get-list-of-pandas-dataframe-columns-based-on-data-type

# create list of column names

lista_columnas = list(df_all.select_dtypes(['object']).columns)

# append unique column values to a dictionary

dict_uniques = {}

for columna in lista_columnas:
    dict_uniques[columna] = df_all[columna].unique() # column name is the key and unique values of each column are the values 

print(dict_uniques['detallamiento'])

['REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC'
 'RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES'
 'OUTRAS MULTAS E JUROS DE MORA' ...
 'UTIL.REC.HID-DEM.EMPRESAS-PRORROG.OUT-PRINC.'
 'OUTORGA DIR.USO DE RECURSOS HIDRICOS-DIV.AT.'
 'RECEITA INDUSTRIAL-DIVIDA ATIVA']

## Los problemas concretos que te han pedido resolver son:

1.	**Desviaciones entre lo previsto y lo recaudado**: Determinar en qué categorías económicas o tipos de ingresos las diferencias son más pronunciadas.

2.	**Evolución temporal de la recaudación**: Identificar cómo han cambiado las previsiones y recaudaciones año a año, y si existen patrones temporales, como meses específicos donde hay mayores discrepancias.

3.	**Rendimiento por órgano y unidad gestora**: Evaluar qué órganos o unidades gestoras son más eficientes en términos de alcanzar las metas de recaudación y cuáles presentan consistentemente una baja ejecución.

- `valor_previsto_actualizado`: Monto actualizado del ingreso previsto (formato texto).

- `valor_lanzado`: Monto que fue registrado como lanzado (formato texto).

- `valor_realizado`: Monto realmente recaudado (formato texto).